BasedOnStyle: Chromium
ColumnLimit: 100
InsertNewlineAtEOF: true
SortIncludes: true
PointerAlignment: Left
DerivePointerAlignment: false
InsertBraces: true
IndentPPDirectives: AfterHash
PPIndentWidth: 2
